extends layout.pug

block head
    if user
        script const IS_LOGGED_IN=true;
    else
        script const IS_LOGGED_IN=false;

block content
    form
        .form-group
            label(for="location") Where are you?
            .input-group
                input.form-control#location(type="text" value=search ? search : "")
                span.input-group-btn #[button.btn.btn-primary#search Search]
    div#message
    .list-group#results
